
.parallax{
    height: 500px;
    background-image: url("cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -9999;
}


.content {
    animation: onLoad 1s ease forwards;
    position: relative; 
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}


.menu-section{
    display: flex;;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #f4f3ee;
}


.menu-subsection{
    display: flex;;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 300px;
    width: 100%;
    overflow-x: scroll;
    background-color: #463f3a;
}


.menu-img{
    text-align: center;
    color: rgba(255, 255, 255, 0.1);
    font-size: 28px;
    font-weight: bolder;
    text-shadow: 0px 0px rgba(0, 0, 0, 0);
    background-size: cover;
    background-position: 50% 50%;
    object-fit: cover;
    align-content: center;
    border-radius: 25px;
    min-width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    animation: loadScroll 4s ease forwards;
    transition: 1s ease;
    transition-property: color, text-shadow;
}
.menu-img:hover{
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px black;
}

.menu-section .subsection-title h1{
    text-align: center;
    align-content: center;
    color: #f4f3ee;
}


.menu-section .subsection-title p{
    color: #f4f3ee;
}


.subsection-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    width: 30%;
    padding: 10px;
    background-color: #8a817c;
}


.ordenar {
    padding: 10px;
    height: 400px; 
    width: 100%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center;
}

.ordenar button{
    align-self: center;
    margin-bottom: 10px;
    width: 50%;
    height: 50%;
}


@keyframes loadScroll {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}
